.container
{
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 0px 0px;
    box-shadow: 5px 5px 5px indianred;
    border: 1px  solid indianred;
}


.inp
{
    font-size: large;
    border: 0;
    width: 80%;
    line-height: 40px;
    border-bottom: 1px solid black;
}
.inp:focus
{
    border-color: blueviolet;
    
}
.input-field
{
    padding: 10px 20px;
    display: block;
    margin: 10px;
}
.input-field span
{
    
}
.btn
{
    padding: 0.5rem 1.6rem;
    line-height: 20px;
    background-color: rgb(40, 40, 92);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border: 0;
}
.fleft
{
    float: left;
}
.fright
{
    float: right;
}
.close
{
    color:red;
    top:5px;
    right: 30px;
    line-height: 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent !important;
}
.both
{
    clear: both;
}
.flex
{
    display: flex;
}
.flex-right
{
    flex-direction: row-reverse;
}
.d-table
{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-top: 0 !important;

}
th
{
    background-color: aquamarine;
    border-bottom: 2px solid black !important ;
    padding: 10px 5px;
}
tr:nth-child(1)
{
    border-left: 0 !important;
}
td{
    border-top: 0 !important;
    border-bottom: 0 !important;
}
.d-table, td,th
{
    border: 2px solid black;

    border-bottom: 0;
}
tr:nth-child(2n+1)
{
    background-color: rgb(253, 253, 179);
}
.red
{
    background-color: red !important;
}
.space-around
{
    justify-content: space-around;
}
.align-center
{
    text-align: center;
}
.description
{
    letter-spacing: normal;
    padding: 0px 20px;
    width: 80%;
    margin: auto; 
  
}
.title
{
    font-size: large;
    padding: 10px 0px;
    display: inline;
    font-weight: 700;
    margin: 0 !important;
    letter-spacing: 1.5px;
   
    /* background-color: rgb(220, 248, 248); */
}
.des
{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.relative
{
    position: relative;

}