
<div >
<form class="container" (ngSubmit)="additem()">
    <div class="close btn fright both" (click)="closevent.emit()">X</div>
    <h3 class="title">Add a job</h3>
    <hr/>
    <div class="input-field">
        <span>Title</span>
        <br>
        <input type="text" class="inp"  name="title" [(ngModel)]="title"  required>
    </div>
    <div class="input-field">
        <span>Description</span>
        <br>
        <input type="text" class="inp"  name="description" [(ngModel)]="description" required>
    </div>
    <div class="input-field flex flex-right">
        <input type="submit" class="btn" value="Add" >
    </div>
</form>
</div>